body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.web-studio {
    color: #2e2f42;
}

a {
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.contact-link {
    color: #434455;
}

a:hover, a:focus {
    color: #404bbf;
}

address {
    font-style: normal;
}

section {
    background-color: #2e2f42;
}

.our-team{
    background-color: #f4f4fd;
}

.features {
    background-color: #f4f4fd;
}

.team {
    background-color: #FFFFFF;
}

h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

button:hover, button:focus {
    background-color: #404bbf;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.final {
    color: #F4F4FD;
}

h2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

footer {
    background-color: #2e2f42;
}

